.amTable, .amTable th, .amTable tr, .amTable td, .amTable input {
    margin: 0; padding: 0;
    font-family: arial, verdana, courier;
    font-size: 9pt;
    border-collapse: collapse;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: auto;
}

.amTable {
    background-color: #f0f3f3;
    width: 100%;
}
.amTable caption {
    font-size: 12pt;
    color: antiquewhite;
}
.amTable th {
    font-weight: 900;
    background-color: darkblue;
    color: antiquewhite;
}
.amTable td {
}

.amTable input {
    display: block;
    position: relative;
    float: left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    background-color: gainsboro;
}